
AuditTrail/\.vs/AuditTrail/v15/\.suo

AuditTrail/\.vs/AuditTrail/v15/Server/sqlite3/storage\.ide-shm

AuditTrail/\.vs/AuditTrail/v15/Server/sqlite3/storage\.ide-wal

AuditTrail/\.vs/config/applicationhost\.config

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/AuditTrail\.Feature\.AuditTrail\.Models\.csproj\.nuget\.cache

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/AuditTrail\.Feature\.AuditTrail\.Models\.csproj\.nuget\.g\.props

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/AuditTrail\.Feature\.AuditTrail\.Models\.csproj\.nuget\.g\.targets

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/Debug/netstandard2\.0/AuditTrail\.Feature\.AuditTrail\.Models\.AssemblyInfo\.cs

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/Debug/netstandard2\.0/AuditTrail\.Feature\.AuditTrail\.Models\.AssemblyInfoInputs\.cache

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/Debug/netstandard2\.0/AuditTrail\.Feature\.AuditTrail\.Models\.assets\.cache

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/Debug/netstandard2\.0/AuditTrail\.Feature\.AuditTrail\.Models\.csproj\.CoreCompileInputs\.cache

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/Debug/netstandard2\.0/AuditTrail\.Feature\.AuditTrail\.Models\.csprojAssemblyReference\.cache

AuditTrail/AuditTrail\.Feature\.AuditTrail\.Models/obj/project\.assets\.json

AuditTrailView/audit-trail-view
